
.reveal section img {
  box-shadow: none;
  border: 0;
  background: none;
}


div .leftPane {
  float: left;
  width: 45%;
  padding-left: 2%;
  padding-right: 2%;
  border-right-width: 0.1em;
  border-color: white;
  border-style: solid;
}

div .rightPane {
  float: right;
  width: 45%;
  padding-left: 2%;
  padding-right: 2%;
}
